.place-label-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.selected-label-container {
    background-color: rgba(0, 128, 64, 1);
    border-radius: 5px;
    border: 1px solid;
}
