.map-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: green;
    top: 0;
    left: 0;
    z-index: -1;
}

.map {
    width: 100%;
    height: 100%;
    z-index: -1;
}

#root {
    width: 100%;
    height: 100%;
}

.App {
    width: 100%;
    height: 100%;
}

.gps-info {
    position: absolute;
    left: 0;
    bottom: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gps-info-contents {
    display: flex;
    flex-direction: row;
    gap: 6px;
    justify-contents: center;
    align-items: center;
    padding: 6px;
}
